
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #23437a;

    .nav-left {
        display: flex;
        flex-direction: row;
    }

    a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        margin: 0 10px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            opacity: 0.8;
        }
    }
}